@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@300;500&display=swap');

:root{
  --primary-color : #7C3AED;
  --secondary-color : #A78BFA;
  --navbar-color : #7C3AED;
  --off-white : #F3F4F6;
}

.App {
  font-family: 'Raleway', sans-serif;
}

input {
  padding: 1rem;
  margin: .5rem;;
  width: 80%;
}

.emojishow{
  font-size: 1.5rem;
}



/* dark mode */
.dark-mode {
  background-color: #1F2937;
  color: white;
}

.dark-mode .ow{
  color: #1F2937;
}

hr{
  margin: 2rem 0rem;
}

/* container */

.container{
  margin : auto;
  padding: 1rem;
  

}

.container-center{
  max-width: 800px;
  text-align: center;
}

/* links */

.link{
  text-decoration: none;
}

.link-primary {
  background-color: var(--primary-color);
  border-radius: .5rem;
  padding: .5rem;
  color: white;
  /* display: block; */
  max-width: 140px;
  margin: 1rem 1rem 1rem 0rem;
}

.link-secondary {
  color: var(--primary-color);
  border-radius: .5rem;
  border: 1px solid var(--primary-color);
  padding: .5rem;
  max-width: 140px;
  margin: 1rem 1rem 1rem 0rem;
}

/* lists */

.list{
  text-align: left;
}

.list-non-bullet {
  list-style: none;
}

.list-item-inline{
  display: inline;
  margin: 0rem .5rem;
}

/* navbar */

.navigation{
  border: 1px solid var(--navbar-color);
  background-color: var(--navbar-color);
  border-top-right-radius: 1rem;
  border-bottom-left-radius: 1rem;
  padding: 1rem;
  margin: 0rem 1rem;
}

.navigation .nav-brand {
  font-weight: bolder;
  color: white;
}

.navigation .link {
  color: white;
  text-align: right;
}
.navigation .nav-pills{
  text-align: right;
}

.navigation .link-active{
  font-weight: bolder;
}

/* hero */

.hero{
  padding: 1rem;
}

.hero .hero-img{
  max-width: 80%;
  width: 350px;
  display: block;
  margin: auto;
}

.hero .hero-heading{
  text-align: center;
  margin: 1rem 0rem;
}

.hero .heading-inverted{
  color: var(--primary-color);
}

/* section */

.section{
  text-align: center;
  
}

.ow {
  background-color: var(--off-white);
}

/* footer */

.footer{
  text-align: center;
  background-color: var(--navbar-color);
  padding: 4rem 1rem;
  border-top-right-radius: 1rem;
  border-bottom-left-radius: 1rem;
  /* margin-bottom: 0px; */
  
}
.footer .footer-header{
  font-weight: bolder;
  color: white;
}

.footer .link{
  color: white;
}

.footer ul {
  padding-inline-start: 0px;
}


/* box border */

.box-border{
  border: 1px solid var(--primary-color);
  margin: 1rem;
  padding: 1rem;
}


/* small heading */

.small-heading{
  display: block;
}